@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "FormulaCondensed-Bold", sans-serif; */
}

/* Font Face */
@font-face {
  font-family: "FormulaCondensed-Bold";
  src: url("/fonts/FormulaCondensed-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gotham Rounded Medium";
  src: url("/fonts/Gotham-Rounded-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.gotham-rounded {
  font-family: "Gotham Rounded Medium", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  background-color: #1c1c1c;
    font-family: "FormulaCondensed-Bold", Arial, sans-serif;
  
}

.slider-p {
  font-family: "Inter", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}

@media (max-width: 1024px) {
  .animate-marquee > .inline-block {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .animate-marquee > .inline-block {
    width: 250px;
  }
}

@media (max-width: 640px) {
  .animate-marquee > .inline-block {
    width: 200px;
  }
}
